.o-close-bag-modal{
    position: fixed;
    z-index: var(--modal-index);
    width: 100%;
    bottom: 0;
    height: calc(100% - var(--app-base-measure) * 6);
    transition: transform 0.4s ease;
}

.o-bag-modal{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: var(--modal-index);
    height: calc(100% - var(--app-base-measure) * 6);
    width: 40%;
    overflow-y: auto;
    font-size: calc(var(--app-base-font-size) / 1.2);
    transition: transform 0.4s ease;
    border-radius: 0.4rem 0.4rem 0 0;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    &::-webkit-scrollbar {
        width: calc(var(--app-base-measure) + 2px);
        background: var(--thirty-color);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--primary-color);
    }

    & .content{
        position: relative;
        overflow: hidden;

        & .close-icon{
            --close-icon-measure: calc(var(--app-base-measure) * 2);
            position: fixed;
            margin: var(--app-base-measure);
            width: var(--close-icon-measure);
            height: var(--close-icon-measure);

            @media screen and (max-width: 768px) {
                --close-icon-measure: calc(var(--app-base-measure) * 2.5)
            }
        }

        & .list{
            padding: calc(var(--app-base-measure) * 8) calc(var(--app-base-measure) * 4);

            & .body{
                padding: calc(var(--app-base-measure) * 4) 0 calc(var(--app-base-measure) * 12) 0;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                gap: calc(var(--app-base-measure) * 4);
                height: 100%;
                width: 100%;
            }

            & .product{
                border-radius: 0.4rem;
                display: flex;
                justify-content: space-evenly;
                place-items: center;

                & .name{
                    width: 30%;
                }

                & .image{
                    position: relative;
                    width: calc(var(--app-base-measure) * 6);
                    height: calc(var(--app-base-measure) * 6);

                    & .amount{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: calc(var(--app-base-font-size) / 1.2);
                        padding: 1px calc(var(--app-base-measure) / 2);
                        position: absolute;
                        border-radius: 2rem;
                        bottom: -10%;
                        left: -10%;
                    }
                }

                & .price{
                    font-weight: bold;
                    text-align: right;
                    width: 20%;
                }


            }

        }

    }

    & .box{
        display: flex;
        flex-direction: column;
        gap: calc(var(--app-base-measure) * 1.6);
        overflow: hidden;
        position: sticky;
        bottom: 0;
        right: 0;
        width: 100%;
        height: calc(var(--app-base-measure) * 15);
        padding: calc(var(--app-base-measure) * 4) calc(var(--app-base-measure) * 6) 0 calc(var(--app-base-measure) * 6);

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        & .total{
            font-weight: bold;
            display: flex;
            justify-content: space-between;
        }

        & .buttons{
            display: flex;
            justify-content: space-between;

        }
    }
}
