.o-bag-modal{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: var(--modal-index);
    background-color: rgb(181, 181, 181);
    height: 90%;
    width: 40%;
    overflow-y: auto;

    & .content{
        position: relative;

        & .close-icon{
            --close-icon-measure: calc(var(--app-base-measure) * 2);
            position: fixed;
            margin: var(--app-base-measure);
            width: var(--close-icon-measure);
            height: var(--close-icon-measure);

            @media screen and (max-width: 768px) {
                --close-icon-measure: calc(var(--app-base-measure) * 3)
            }
        }

        & .clear-bag{
            position: fixed;
            margin: 0 var(--app-base-measure);
            right: 0;
        }

        & .list{
            padding: calc(var(--app-base-measure) * 8) calc(var(--app-base-measure) * 4);
            overflow: hidden;

            & .body{
                font-size: calc(var(--app-base-font-size) * 0.9);
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                gap: calc(var(--app-base-measure) * 4);
                height: 100%;
                width: 100%;
            }

            & .product{
                display: flex;
                justify-content: space-evenly;
                place-items: center;

                & .name{
                    width: 40%;
                }

                & .image{
                    position: relative;
                    width: calc(var(--app-base-measure) * 6);
                    height: calc(var(--app-base-measure) * 6);

                    & .amount{
                        padding: 0 calc(var(--app-base-measure) / 2);
                        position: absolute;
                        text-align: center;
                        background-color: white;
                        border-radius: 2rem;
                        bottom: -10%;
                        left: -10%;
                    }
                }

                & .price{
                    font-weight: bold;
                }


            }
        }
    }


    @media screen and (max-width: 768px) {
        width: 100%;

    }

}
