.o-navigation-bar {
    align-items: center;
    animation: navigation-appeared 0.4s ease;
    display: flex;
    height: calc(var(--app-base-measure) * 8);
    justify-content: space-between;
    opacity: 0.75;
    padding: 0 calc(var(--app-base-measure) * 10);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--navigation-index);

    .bag {
        animation: scale-quantity 0.2 ease-in;
        position: relative;

        .items-quantity {
            align-items: center;
            border-radius: 50%;
            display: flex;
            font-weight: bold;
            height: calc(var(--app-base-measure) * 3);
            justify-content: center;
            min-width: calc(var(--app-base-measure) * 3);
            padding: calc(var(--app-base-measure));
            position: absolute;
            right: -10%;
            top: -40%;
            transform: scale(0.8);
        }
    }
}
