.o-navigation-bar {
    align-items: center;
    animation: navigation-appeared 0.4s ease;
    display: flex;
    height: calc(var(--app-base-measure) * 8);
    justify-content: space-between;
    opacity: 0.75;
    padding: 0 calc(var(--app-base-measure) * 10);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--navigation-index);
}
