.o-navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 calc(var(--app-base-measure) * 10);
    top: 0;
    z-index: var(--navigation-index);
    height: calc(var(--app-base-measure) * 8);
    width: 100%;
    opacity: 0.75;
}
