.o-product{
    width: 100%;
    border-radius: 0.5rem;
    font-size: calc(var(--app-base-font-size) / 1.2);
    --product-base: calc(var(--app-base-element-measure) * 8);

    & .content{
        width: 100%;
        overflow: hidden;
        cursor: pointer;

        .image-structure{
            position: relative;

            & .image{
                position: relative;
                height: calc(var(--product-base) / 8 * 12);
            }

            & .bg-image{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 2%, rgba(0,0,0,0) 20%);
            }
        }

        & .info{
            padding: calc(var(--app-base-measure) * 2);
            height: var(--product-base);

            & .name{
                display: flex;
                align-items: center;
                justify-content: center;
                white-space: nowrap;
                color: inherit;
                padding: calc(var(--app-base-measure) * 2);
            }

            & .price{
                color: inherit;
                text-align: center;
            }
        }
    }




}
