.o-product-page{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: calc(var(--app-base-measure) * 6);
    height: calc(var(--app-base-measure) * 90);


    & .content{
        display: flex;
        flex-direction: column;
        gap: calc(var(--app-base-measure) * 4);

        & .image{
            position: relative;
            height: calc(var(--app-base-measure) * 30);
            width: calc(var(--app-base-measure) * 30);
        }

        & .name{
            margin: 0 auto;
        }

        & .info{
            height: calc(var(--app-base-measure) * 10);
            width: calc(var(--app-base-measure) * 30);
        }
    }
}
