.o-close-product-modal{
    position: fixed;
    z-index: var(--modal-index);
    width: 100%;
    bottom: 0;
    height: 100%;
    transition: transform 0.4s ease;
}

.o-product-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: calc(var(--app-base-measure) * 4);
    z-index: var(--modal-index);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: calc(var(--app-base-measure) * 70);
    width: calc(var(--app-base-measure) * 70);
    padding: calc(var(--app-base-measure) * 4) calc(var(--app-base-measure) * 2);
    font-size: calc(var(--app-base-font-size) / 1.2);
    border-radius: 0.4rem;
    transition: transform 0.4s ease;

    @media screen and (max-width: 768px) {
        top: 40%;
        height: calc(var(--app-base-measure) * 50);
        width: calc(var(--app-base-measure) * 40);
    }

    & .close-icon{
        --close-icon-measure: calc(var(--app-base-measure) * 2);
        position: fixed;
        top: 0;
        left: 0;
        margin: calc(var(--app-base-measure) * 1.2);
        width: var(--close-icon-measure);
        height: var(--close-icon-measure);

        @media screen and (max-width: 768px) {
            --close-icon-measure: calc(var(--app-base-measure) * 2.5)
        }
    }

    & .image{
        position: relative;
        width: calc(var(--app-base-measure) * 30);
        height: calc(var(--app-base-measure) * 30);

        @media screen and (max-width: 768px) {
            width: calc(var(--app-base-measure) * 20);
            height: calc(var(--app-base-measure) * 20);
        }
    }

    & .name{
        font-size: calc(var(--app-base-font-size));
        width: 60%;
        text-align: center;
    }

    & .add-subtract-group{
        display: flex;
        gap: calc(var(--app-base-measure) * 6);

        & .subtract-item{
            padding: calc(var(--app-base-measure) / 2) calc(var(--app-base-measure) / 1);
        }

        & .amount{
            text-align: center;
            width: calc(var(--app-base-measure) * 5);
            padding: calc(var(--app-base-measure) / 2) calc(var(--app-base-measure) / 1);
            user-select: none;
        }

        & .add-item{
            padding: calc(var(--app-base-measure) / 2) calc(var(--app-base-measure) / 1);
        }

    }
}
