.o-product{
    background-color: rgb(67, 181, 36);
    width: 100%;

    & .content{
        width: 100%;
        font-size: var(--app-base-font-size);
        overflow: hidden;
        cursor: pointer;

        & .image{
            position: relative;
            height: calc(var(--app-base-element-measure) * 15);
        }

        & .name{
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            padding: calc(var(--app-base-measure) * 2);
        }
    }




}
