.l-primary-style{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.l-primary-gradient{
    background: linear-gradient(0deg, var(--primary-color) 0%, var(--primary-color) 6%, var(--gradient-color) 15%);
}

.l-secondary-style{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.l-thirty-style{
    background-color: var(--thirty-color);
    color: var(--primary-color);
}
