.l-success-button{
    &:hover{
        background-color: var(--success-color);
        color: var(--secondary-color);
    }
}

.l-warning-button{
    &:hover{
        background-color: var(--warning-color);
        color: var(--secondary-color);
    }
}

.l-primary-button{
    border: solid 2px var(--primary-color);
}
