.o-bm-content {
    display: block;
    height: 85%;
    overflow: auto;
    position: relative;

    &::-webkit-scrollbar {
        background: var(--thirty-color);
        width: calc(var(--app-base-measure) + 2px);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--primary-color);
    }

    .top-bm-gradient {
        height: 10%;
        position: fixed;
        width: 100%;
        z-index: 1;

        @media screen and (width <= 768px) {
            height: 15%;
        }
    }

    .close-icon {
        height: calc(var(--app-base-measure) * 2);
        margin: var(--app-base-measure);
        position: fixed;
        z-index: var(--component-index);

        @media screen and (width <= 768px) {
            height: calc(var(--app-base-measure) * 2.5);
        }
    }

    .list {
        padding: calc(var(--app-base-measure) * 4)
            calc(var(--app-base-measure) * 4) calc(var(--app-base-measure) * 10)
            calc(var(--app-base-measure) * 4);

        .body {
            display: flex;
            flex-direction: column;
            gap: calc(var(--app-base-measure) * 4);
            justify-content: space-around;
            padding-top: calc(var(--app-base-measure) * 4);
            width: 100%;
        }
    }
}
